body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:40px;
  width:375px;
  height:667px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:75px;
  width:29px;
  height:29px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:41px;
  width:373px;
  height:32px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:149px;
  width:93px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:187px;
  width:61px;
  height:16px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:425px;
  width:329px;
  height:40px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:325px;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:425px;
  width:329px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u253 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:70px;
  width:29px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:38px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:465px;
  width:28px;
  height:38px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:38px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:71px;
  width:28px;
  height:38px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:43px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:620px;
  width:254px;
  height:43px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:250px;
  width:119px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:278px;
  width:329px;
  height:1px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:310px;
  width:178px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:338px;
  width:329px;
  height:1px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:349px;
  width:205px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
