body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:16px;
  width:1519px;
  height:1000px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:660px;
  height:30px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:656px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:0px;
  width:380px;
  height:30px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:376px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:0px;
  width:379px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:375px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:228px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:228px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:106px;
  width:96px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:228px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:660px;
  height:228px;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:656px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:228px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:30px;
  width:380px;
  height:228px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:228px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:30px;
  width:379px;
  height:228px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:114px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:100px;
  height:114px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:96px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:114px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:258px;
  width:660px;
  height:114px;
  text-align:left;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:656px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:114px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:258px;
  width:380px;
  height:114px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:114px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:258px;
  width:379px;
  height:114px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:352px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:100px;
  height:352px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:168px;
  width:96px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:352px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:372px;
  width:660px;
  height:352px;
  text-align:left;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:656px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:352px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:372px;
  width:380px;
  height:352px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:352px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:372px;
  width:379px;
  height:352px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:724px;
  width:100px;
  height:54px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:54px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:724px;
  width:660px;
  height:54px;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:656px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:54px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:724px;
  width:380px;
  height:54px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:54px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:724px;
  width:379px;
  height:54px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:778px;
  width:100px;
  height:84px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:84px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:778px;
  width:660px;
  height:84px;
  text-align:left;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:656px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:84px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:778px;
  width:380px;
  height:84px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:84px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:778px;
  width:379px;
  height:84px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:862px;
  width:100px;
  height:61px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:61px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:862px;
  width:660px;
  height:61px;
  text-align:left;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:656px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:61px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:862px;
  width:380px;
  height:61px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:61px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:862px;
  width:379px;
  height:61px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:77px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:923px;
  width:100px;
  height:77px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:77px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:923px;
  width:660px;
  height:77px;
  text-align:left;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:656px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:77px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:760px;
  top:923px;
  width:380px;
  height:77px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:77px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:923px;
  width:379px;
  height:77px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
